body {
    background-color: white;
    color: black;
}

.flexContainer {
    display: flex;
    justify-content: center;
}

.uiContainer {
    padding: 15px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: space-between;
	align-items: center;
}

.optionsContainer {
    padding: 10px;

}

.optionButton {
    margin: 10px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    background-color: #999999;
    border-radius: 8px;
}

.timeButton {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    background-color: #999999;
    color: black;
    flex-grow: 1;
}

.footerOptionsContainer {
    display: flex;
}

.timeOptionsContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.playOptionsContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}


.slider {
    -webkit-appearance: none;
    appearance: none;
    background: #d3d3d3;
    height: 5px;
}

.checkBoxLabel {
	font-size: 12px;
}

.graphContainer {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.uiContainer {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.titleContainer {
	display: flex;
	justify-content: center;
	align-content: flex-end;
}

.footer {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.header {
    background-color: #007FFF;
    display: flex;
}

.title {
    padding: 5px;
    color: white;
    font-size: 2.5vw;
    align-self: flex-end;
}

.topicBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.topicRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.first { order: 1; }
.second { order: 2; }
.third { order: 3; }

.topicWords {
    flex-grow: 2;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.topicName {
    flex-grow: 1;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.topicStat {
    flex-grow: 1;

    border-style: solid;
    border-color: black;
    border-width: 2px;
}